{% extends 'base.html' %}
{% block title %}
            Edit Profile
        {% endblock title %}
{% block body %}
    <div class="container">
        {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
        <form action="" class="form-control" method="post">
            {% csrf_token %}
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}">
            <input type="submit" class="btn btn-success">
        </form>
    </div>
{% endblock body %}