{% extends 'base.html' %}
{% block title %}
            Item List
        {% endblock title %}
{% block body %}
    <div class="container">
     {% if message %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endif %}
        {% if items %}
            <div class="row">
                {% for item in items %}
                    <div class="card col-auto m-5  shadow p-3 mb-5 bg-white rounded">
                        <div style="height: 200px">
                            <img src="{{ item.image }}" class="card-img-top" alt="..." style="width: 150px; max-height: 200px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-subtitle">{{ item.category.name }}</p>
                            <p class="card-text">{{ item.description }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-auto"><p class="h5">{{ item.price }} &#2547</p></div>
                                <div class="col-auto"><a href="{% url 'inventory:edit' item.id %}">Edit</a></div>
                                <div class="col-auto"><a href="{% url 'inventory:delete' item.id %}" class="text-danger">Delete</a></div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No items</p>
        {% endif %}
    </div>
{% endblock body %}