{% extends 'base.html' %}
{% block title %}
            Add new Item
        {% endblock title %}
{% block body %}
    <div class="container">
        <form action="" class="form-control" method="post">
        {% csrf_token %}
            <label for="category" class="form-label">Category</label>
            <select name="category" id="category" class="form-select">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" id="name" value="{{ item.name }}" class="form-control">
            <label for="price" class="form-label">Price</label>
            <input type="text" name="price" id="price" value="{{ item.price }}" class="form-control">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" id="description" cols="30" rows="10" class="form-control">{{ item.description }}</textarea>
            <label for="image" class="form-label">Image</label>
            <input type="text" name="image" id="image" value="{{ item.image }}" class="form-control">
            <input type="submit" value="Submit" class="btn btn-success">
        </form>
    </div>
{% endblock body %}